.loginpage {
  text-align: center;
  //max-width: fit-content;
  //margin: 0 auto;
  //background-color: red;
  font-size: small;
//height: -webkit-fill-available
  //background-color: red;



  &__head {
    height: 50px;
    background-color: rgb(254, 254, 254);
    display: flex;
    padding: 0 15px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  &__headleft {
    //background-color: yellow;
   flex-basis: 50%;
   display: flex;
   align-items: center;
  // flex-direction: column;
   //justify-content: center;
  }

  &__head__close {
    //flex-grow: 75%;
    height: 25px;
    width: 25px;
    //background-color: green;

    &:hover {
      border-radius: 15px;
      background-color: rgb(153, 152, 152);
    }
  }


  &__headright {
    //background-color: yellow;
   flex-basis: 50%;
   //margin: 7px 7px 7px 7px;
  }

  &__footer {
    height: 60px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    //margin-bottom: -45rem;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }

  
  &__head__twitter {
    margin-top: 0.3em;
  }


  &__signup__main {
    background-color: rgb(255, 255, 255);
    //height: 70vh;
    margin: 0 auto;
    width: 100%;
    overflow-y: auto;
    flex-grow: 1;
  }

  &__signup__wrap {
    //background-color: yellow;
    width: 600px;
    height: 500px;
    display: flex;
   flex-direction: column;
  }

  &__signup__form {
    //background-color: red;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__signup__footer{
    background-color: rgb(255, 255, 255);
    height: 95px;
   // width: 100%;
   border-top: 1px solid rgba(207, 195, 195, 0.75);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    display: flex;
    align-items: center;
    //flex-direction: column;
    //margin: 0 auto;
    
  }

  &__signup__footer__step3{
    background-color: rgb(255, 255, 255);
    //height: 95px;
   // width: 100%;
   border-top: 1px solid rgba(207, 195, 195, 0.75);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    //margin: 0 auto;
    
  }

  &__signup__tes {
    background-color: rgb(80, 196, 63);
    width: 80%;
    //margin: auto auto;
    margin: 0 auto;
    color: white;
    border-radius: 35px;
    //border: 1.5px solid rgb(101, 100, 100);
    height: 53px;
  }

   &__signup__button {
    background-color: rgb(143, 143, 136);
    //margin-top: 50%;
    color: white;
    width: 80%;
    margin: 0 auto;
    //margin: auto auto;
    border: 1.5px solid rgb(3, 2, 2);
    border-color: white;
    height: 53px;
    //margin: 7% 0 1% 0;
    //flex-grow: 1;
    //width: 80%;
    //margin: auto auto;
    //width: 450px;
    font-size: medium;
    font-weight: bold;
    //font-size: 25px;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //text-align: center;
    border-radius: 35px;

    &:active {
      transform: scale(0.99);
    }
  }

  &__signup__backlink{
    cursor: pointer;
    color: #0077ff;
    &:hover {
      text-decoration: underline;
    }
  }

  &__signup__checkbox{
    display: flex;
    cursor: pointer;
    padding: 2px;
    border-radius: 25px;
    //background-color: rgb(47, 217, 255);
    //padding: 5px 5px 5px 5px ;
    &:hover {
      background-color: rgba(162, 212, 240, 0.25);
    }
  }

  &__signup2__button {
    background-color: rgb(29, 155, 240);
    //margin-top: 50%;
    color: white;
    width: 80%;
    margin: 0 auto;
    //margin: auto auto;
    border: 1.5px solid rgb(3, 2, 2);
    border-color: white;
    height: 53px;
    //margin: 7% 0 1% 0;
    //flex-grow: 1;
    //width: 80%;
    //margin: auto auto;
    //width: 450px;
    font-size: medium;
    font-weight: bold;
    //font-size: 25px;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //text-align: center;
    border-radius: 35px;
    cursor: pointer;

    &:active {
      transform: scale(0.99);
    }
  }

  &__signup__step2 {
    text-align: left;
  }


  &__login__box__content {
   background-color: rgb(255, 255, 255);
    width: 600px;
   //height: 100vh;
    display: flex;
    flex-direction: column;
  //max-width: 300px;
    //margin: 0 auto;
  }

  &__login__box__wrap{
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    //background-color: green;
  }

  &__login__title {
    //background-color: yellow;
    text-align: left;

  }

  &__login__box__outer {
   //width: 600px;
    overflow-y: hidden;
    margin: auto auto;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }
  &__login__box__inner {  
    //background-color: #1670be; 
    //background-color: red;
    //height: 528.688px; 
    max-height: 80vh;
    overflow-y: auto;
  }

  &__login__wrap2 {
    background-color: rgb(255, 255, 255);
    //padding: 0 80px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    //width: 100%;
   
  }

  &__logintwo__box {
    //background-color: rgb(154, 125, 125);
    width: 80%;
    display: flex;
    flex-direction: column;
    //min-width: 400px;
    margin: 0 auto;
  }

 

  &__logintwo__footer {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 137px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    margin: 0 auto;
  }

  &__logintwo__footer__box {
    width: 80%;
    margin: 0 auto;
  }

  &__logintwo{
    width: 600px;
    height: 500px;
    display: flex;
   flex-direction: column;
   //background-color: yellow;
  }
  
  
  &__login__wrap {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  &__login__title1 {
    //background-color: blue;
    //width: 100%;
    display: flex;
    flex-direction: column;
  }

 

  &__login__content {
   margin: 25px 0px;
   //padding: 25px 15px;
    font-size: small;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(165, 165, 165);
    line-height: 0.1em;

    span {
      background: #fff;
      width: 50px;
      padding: 10px 15px;
    }
  }

  &__login__inp {
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;

    input:focus + .loginpage__login__label {
      color: #0077ff;
      transform: translate3d(0, -10px, 0) scale(0.75);
    }
  }

  &__login__form {
    //height: 56px;
    width: 100%;
    // margin: 5px auto;
    height: 50px;
    padding: 0 0 0 14px;
    border: 1px solid rgb(204, 202, 202);
    border-radius: 7px;

    &:focus {
      border: 2px solid #1885e5;
      //box-shadow: 0 0 2px #1670BE;
      outline-offset: 0px;
      outline: none;
    }

    &:not(:placeholder-shown) + .loginpage__login__label {
      //color: rgba(235, 31, 31, 0.5);
      transform: translate3d(0, -10px, 0) scale(0.75);
    }
  }

  &__login__label {
    position: absolute;
    //font-size: 20px;
    top: 15px;
    left: 15px;
    color: rgba(0, 0, 0, 0.5);
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
  }

  &__login__inp2 {
   position: relative;
   padding: 7px 0px;

  }

  &__login__inpUser {
    //background-color: red;
    width: 100%;
    font-weight: bold;
    height: 53px;
    text-indent: 15px;
    display: flex;
    color: rgba(0, 0, 0, 0.5);
    padding: 15px 0 0 0;
    margin-top: 1.5rem;
    border: none;
    border-radius: 9px;
    margin: 0 auto;
  }

  &__login__label2 {
    position: absolute;
    font-size: 13px;
    top: 10px;
    left: 15px;
    color: rgba(0, 0, 0, 0.5);
  }


  &__login__inp {
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5% 0 0 0;
    //-webkit-appearance: none;

    input:focus + .loginpage__logintwo__label {
      color: #0077ff;
      transform: translate3d(0, -10px, 0) scale(0.85);
    }
  }

  &__login__form__animation {
    //height: 56px;
    width: 100%;
    // margin: 5px auto;
    height: 50px;
    padding: 0 0 0 14px;
    border: 1px solid rgb(204, 202, 202);
    border-radius: 7px;
    

    &:focus {
      border: 1px solid #1885e5;
      //box-shadow: 0 0 2px #1670BE;
      outline-offset: 0px;
      outline: none;
    }

    &:not(:placeholder-shown) + .loginpage__logintwo__label {
      //color: rgba(235, 31, 31, 0.5);
      transform: translate3d(0, -10px, 0) scale(0.85);
    }
  }

  &__logintwo__label {
    position: absolute;
    //font-size: 20px;
    top: 0px;
    left: 15px;
    color: rgba(0, 0, 0, 0.5);
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
  }

  &__login__eye {
    width: 2em;
    cursor: pointer;
    position: absolute;
    //background-color: yellow;
    margin-right: 7px;
    top: 0px;
    right: 0px;
    &:hover {
      background-color: rgb(225, 220, 220);
      border-radius: 15px;
    }
  }

  

  &__login__buttons1 {
    //background-color: red;
    height: 40px;
    width: 100%;
    margin: 11px 2px;
    padding: 0px 15px;
   // margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    //margin-top: 1.5rem;
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgb(228, 238, 248);
    border-radius: 25px;

    &:hover {
      outline-color: rgb(166, 240, 253);
      background-color: rgb(241, 247, 252);
    }
  }

  &__login__buttons2 {
    height: 40px;
    margin: 11px 0px;
    padding: 0px 15px;
    //font-size: 20px;
    font-weight: bold;
    color: white;
    //margin-top: 1.5rem;
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgb(252, 252, 252);
    border-radius: 25px;
    border: 1.5px solid rgba(221, 218, 218, 0.95);
    //border-color: rgb(244, 240, 240);

    &:hover {
      background-color: rgb(56, 56, 56);
    }

    &--second {
      color: black;
      outline-color: white;
      background-color: white;

      &:hover {
        background-color: rgb(216, 211, 211);
      }
    }
  }

 
  &__login__buttons3 {
    height: 53px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    //background-color: rgb(242, 1, 1);
    width: 100%;
    //margin-top: 50px;
    //margin: 0 0 0 0%;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    // /text-align: center;
    //margin-top: 3.5rem;
    //outline-style: solid;
    outline-width: 1px;
    outline-color: rgb(252, 252, 252);
    border-radius: 25px;
    border: 1px solid rgba(220, 220, 220, 0.85);

    &:hover {
      background-color: rgb(56, 56, 56);
    }

    &--second {
      color: black;
      outline-color: white;
      background-color: white;

      &:hover {
        background-color: rgb(216, 211, 211);
      }
    }
  }

  &__login__bottom {
    font-size: larger;
    font-weight: lighter;
    //background-color: red;
    margin: 45px auto;
   //float: left;
    text-align: left;
    max-width: 450px;
    //text-decoration: none;

    a {
      font-weight: bold;
      color: rgb(18, 133, 240);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__signup__title1 {
    //background-color: yellow;
    display: flex;
  }

  &__signup__title {
    //font-size: 35px;
    //background-color: blue;
    font-weight: bold;
    text-align: left;
  }

  &__signup__inputs1 {
    margin: 5% 0 0 0;
    display: flex;
  }

    
  &__signup__inp {
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5% 0 0 0;
    //-webkit-appearance: none;

    input:focus + .loginpage__signup__label {
      color: #0077ff;
      transform: translate3d(0, -10px, 0) scale(0.75);
    }
  }

  &__signup__form__animation {
    //height: 56px;
    width: 100%;
    // margin: 5px auto;
    height: 50px;
    padding: 0 0 0 14px;
    border: 1px solid rgb(204, 202, 202);
    border-radius: 7px;
    

    &:focus {
      border: 1px solid #1885e5;
      //box-shadow: 0 0 2px #1670BE;
      outline-offset: 0px;
      outline: none;
    }

    &:not(:placeholder-shown) + .loginpage__signup__label {
      //color: rgba(235, 31, 31, 0.5);
      transform: translate3d(0, -10px, 0) scale(0.75);
    }
  }

  &__signup__label {
    position: absolute;
    //font-size: 20px;
    top: 15px;
    left: 15px;
    color: rgba(0, 0, 0, 0.5);
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
  }

  &__signup__eye {
    width: 2em;
    cursor: pointer;
    position: absolute;
    //background-color: yellow;
    margin-right: 7px;
    top: 13px;
    right: 0px;
    &:hover {
      background-color: rgb(225, 220, 220);
      border-radius: 15px;
    }
  }



  &__signup__name {
    //background-color: red;
    height: 53px;
    width: 100%;
    font-size: larger;
    //display: flex;
    border: 1px solid rgba(219, 218, 213, 0.75);
    border-radius: 5px;

    &:focus {
      outline-color: rgb(30, 167, 247);
    }
  }

  &__signup__phone {
    height: 53px;
    width: 100%;
    font-size: larger;
    display: flex;
    border: 1px solid rgba(219, 218, 213, 0.75);
    border-radius: 5px;

    &:focus {
      outline-color: rgb(30, 167, 247);
    }
  }

  #email {
    //background-color: red;
    text-align: right;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  &__signup__date {
    //text-align: left;
    font-weight: bold;
    //margin-top: 5%;
  }

  &__signup__desc {
    font-weight: lighter;
    margin-top: -1rem;
    color: rgb(139, 138, 138);
  }



  &__signup__inputs2 {
    //background-color: red;
    height: 70px;
    margin: 3% 0 0 0;
    // width:450px;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    column-gap: 7px;
  }

  &__signup__month {
    height: 53px;
    border-color: rgb(191, 189, 189);
    //padding-right: 3rem;
    //width: 200px;
    flex-grow: 3;
    border-radius: 7px;

    &:focus {
      outline-color: rgb(30, 167, 247);
    }
  }

  &__signup__day {
    height: 53px;
    border-color: rgb(191, 189, 189);
    //padding-right: 3rem;
    //width: 100px;
    flex-grow: 1;
    border-radius: 7px;

    &:focus {
      outline-color: rgb(30, 167, 247);
    }
  }

  &__signup__years {
    height: 53px;
    border-color: rgb(191, 189, 189);
    //padding-right: 2rem;
    //width: 140px;
    flex-grow: 2;
    border-radius: 7px;

    &:focus {
      outline-color: rgb(30, 167, 247);
    }
  }
  //Tab mini
  @media (max-width: 715px) {
    &__signup__wrap {
      //background-color: #0077ff;
      width: 100vw;
      height: 100vh;
      //border-radius: unset;
    }

   
    &__login__box__content {
      width: 100vw;
      //height: 100vh;
      //background-color: red;
    }
    &__login__wrap {
      border-radius: unset;
      width:100vw;
      height: 100vh;
      
    }

    &__login__box__inner {   
      overflow-y: hidden;
      margin: 0 auto;
    }

    &__footer {
      background-color: rgb(254, 254, 254);
      display: none;
    }

    &__logintwo {
      height: 100vh;
      width: 100vw;
      //background-color: rgb(132, 219, 65);
      //background-color: red;
    }
  }
  //Phone L
  @media (max-width: 425px) {
    // &__signup__wrap {
    //   //background-color: red;
    //   padding: 0 7% 0 7%;
    //   //width: 390px;
    //   margin: 0 auto;
    // }
  
    &__logintwo{
      margin: 0 auto;
    
    }

    &__login__box__wrap{
      width: 80%;
      
    }
  
    &__login__box__content {
      width: 100vw;
      height: 100vh;
      //background-color: red;
      margin: 0 auto;
    }

    &__login__box__inner {   
      overflow-y: auto;
      //margin: 0 auto;
    }

   
  }

  //Phone M
  @media (max-width: 375px) {
    // &__signup__wrap {
    //   //background-color: red;
    //   padding: 0 12% 0 12%;
    //   //width: 390px;
    //   margin: 0 auto;
    // }
    &__login__wrap {
      //background-color: red;
      //padding: 0 12% 0 12%;
      //width: 390px;
      margin: 0 auto;
   }
   
  }

  //Phone s
  @media (max-width: 320px) {
    // &__signup__wrap {
    //   //background-color: red;
    //   padding: 0 19% 0 19%;
    //   //width: 390px;
    //   margin: 0 auto;
    // }
    &__login__wrap {
      //background-color: red;
      //padding: 0 19% 0 19%;
      margin: 0 auto;
      //background-color: red;
      //position: absolute;
      //top: 0;
   }
   
  }
}
