body {
  //background-color: white;
}

#homewrapper {
  max-width: 1440px;
  top: 0;
  margin: 0 auto;
  font-size: small;
  
}
.homepage {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 45% 30%;

  &__header {
    background-color: rgba(253, 253, 253, 0.75);
    top: 0;
    position: sticky;
    backdrop-filter: blur(8px);
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: 90% 15%;
  }

  &__header2 {
    background-color: rgb(255, 255, 255);
    max-width: 348px;
    border-color: white;
    border: none;
    padding-top: 5px;
    top: 0;
    position: sticky;
    height: 60px;
  }

  #addtweet {
    display: none;
    background-color: #1d6cff;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 45px;
    fill: white;
    height: 45px;
    width: 45px;
    cursor: pointer;
    &:hover{
      background-color: #1d62e3;
    }
  }

  &__home {
    //background-color: red;
    box-shadow: 0px 0px 0px 0px rgb(252, 252, 252),
      1px 0px 0px 0px rgb(204, 201, 201);
  }


  #stars {
    border-radius: 35px;
    //background-color: red;
    padding: 5px;
    cursor: pointer;
    &:hover {
      background-color: rgb(229, 231, 235);
    }
  }

  #whthappen {
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
    outline-style: none;
  }

 

  label {
    top: 5px;
    position: relative;
  }

  label:before {
    border: none;
    content: "";
    position: absolute;
    left: 25px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E")
      center / contain no-repeat;
  }

  input {
    border: none;
    background-color: rgba(220, 220, 220, 0.55);
    outline-color: rgb(30, 167, 247);
    border-radius: 45px;
    padding: 3% 15% 3% 15%;
    width: 100%;
  }


  #menu {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    border-right: 0.05px solid rgba(152, 134, 134, 0.75);
    padding-left: 25%;
    position: sticky;
    top: 0;
    z-index: 0;
    height: 100vh;
    
  }


  &__icons {
    width: fit-content;
    padding: 0 12px 0 12px;
    border-radius: 50px;
    display: flex;
    height: 45px;
    font-weight: lighter;
    color: rgb(240, 29, 29);
    cursor: pointer;
    align-items: center;
    font-size: 2.5em;
    font-weight: lighter;
    color: rgb(63, 61, 61);
    &:hover {
      background-color: rgba(218, 214, 214, 0.55);
    }
  }

  #twitt {
    padding: 12px 0px 0px 0px;
  }

  #twitter {
    fill: blue;
    width: 30px;
    height: 30px;
    border-radius: 35px;
    top: 6px;
    cursor: pointer;
    &:hover {
      background-color: rgb(182, 204, 245);
    }
  }

  &__tweetbtn {
    //display: block;
    padding: 3% 3% 3% 3%;
    border: none;
    border-radius: 45px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-top: 0.5rem;
    width: 85%;
    background-color: rgb(29, 108, 255);
    cursor: pointer;
    &:hover {
      background-color: rgb(0, 86, 247);
    }
  }

  &__accuser {
    border-radius: 45px;
    display: flex;
    width: 100wh;
    padding: 5px 5px 5px 5px;
    align-items: center;
    cursor: pointer;
    font-weight: lighter;
    color: rgb(63, 61, 61);

    &:hover, &:active {
      background-color: rgba(215, 218, 214, 0.55);
    }
  }


  &__icontitle {
    font-size: 20px;
    margin-left: 0.5em;
  }

  #main {
    padding: 0px 0px 0px 0px;
    outline-width: 1px;
    outline-color: rgb(212, 211, 211);
  }

  &__mainhead {
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
  }


  #textarea {
    overflow: hidden;
    //background-color: red;
    border: none;
    border-color: transparent;
    padding-top: 15px;
    width: 100%;
    font-size: large;
    outline: none;
    resize: none;
  }

  &__mainhead2 {
    //background-color: red;
    padding-left: 25px;
    padding-right: 15px;
    padding-bottom: 13px;
    //border-right: 2px solid rgb(221, 218, 218);
    border-bottom: 2px solid rgb(221, 218, 218);
    border-width: 100%;
    display: flex;
    align-items: center;
  }

  &__iconmainhead {
    display: flex;
    align-items: center;
    column-gap: 5px;
    max-height: 55px;
    width: 55%;
    color: rgb(29, 108, 255);
  }

  &__icon2 {
    //background-color: red;
    cursor: pointer;
    padding: 10px;
    height: 35px;
    width: 35px;
    column-gap: 2px;
    border-radius: 25px;
    &:hover {
      background-color: rgb(219, 229, 247);
    }
    //padding: 2px;
  }

  #tweetbtnmain {
    padding: 1% 4% 1% 4%;
    margin-left: 25%;
    border-radius: 35px;
    //font-size: 25px;
    color: white;
    background-color: rgb(129, 171, 250);
    border-style: none;
    border: 230px;
  }

  &__line {
    width: 100%;
    border: 0.5px solid rgb(221, 218, 218);
  }

  &__topmain {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__topmainitem {
    outline-style: solid;
    outline-width: 1px;
    padding: 1.5% 3.5% 1.5% 3.5%;
    border-radius: 35px;
    outline-color: rgb(179, 179, 179);
    cursor: pointer;
    &:hover {
      background-color: rgb(207, 205, 205);
    }
  }

  &__botmain {
    padding: 0 5% 0 5%;
  }


  #rightmore {
    padding: 3px;
    border-radius: 25px;
    //background-color: red;
    &:hover {
      fill: rgb(112, 177, 247);
      background-color: rgb(201, 223, 247);
    }
  }

  &__contentright {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 1.5% 0 1.5% 0;
    &:hover {
      background-color: rgb(228, 227, 227);
    }
  }

  #smore {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    line-height: 50%;
    padding: 1% 0% 0% 5%;
    cursor: pointer;
    &:hover {
      background-color: rgb(228, 227, 227);
    }
  }

  #smore2 {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    line-height: 0%;
    padding: 3% 0% 3% 5%;
    cursor: pointer;
    &:hover {
      background-color: rgb(228, 227, 227);
    }
  }

  #letsbtn {
    padding: 2% 7% 2% 7%;
    font-weight: bolder;
    border-radius: 45px;
    //font-size: x-large;
    color: white;
    background-color: rgb(29, 108, 255);
    border-style: none;
    //border: 230px;
    cursor: pointer;
  }

  #right {
    outline-width: 1px;
  }

  &__rightbox {
    display: flex;
    flex-direction: column;
    background-color: rgba(232, 238, 243, 0.55);
    border-radius: 25px;
    max-width: 348px;
    margin-top: 5%;
  }

  &__popupcontent {
    padding: 3px;
    cursor: pointer;
    &:hover {
      background-color: rgba(213, 217, 217, 0.35);
    }
  }

  &__headrightbox {
    line-height: 50%;
    //background-color: red;
    padding: 0% 5% 0% 5%;
    }

  &__contentrighttitle {
    font-size: small;
    line-height: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 3% 0% 5%;
  }

  &__contentrightdesc {
    line-height: 0%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 5%;
  }

  &__rightboxbot {
    background-color: rgb(232, 238, 243);
    border-radius: 25px;
    max-width: 348px;
  }

  &__rightboxbotcontent {
    display: flex;
    align-items: center;
    padding: 5% 3% 5% 5%;
    cursor: pointer;
    &:hover {
      background-color: rgb(228, 227, 227);
    }
  }

  &__username {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    line-height: 0%;
  }

  &__lastbtn {
    font-size: small;
  }

  &__tos {
    :hover {
      text-decoration: underline;
    }
  }

  &__title {
    margin-top: 1rem;

    margin-left: 5%;
  }

  &__search {
    margin-top: 1rem;
    margin-left: 2%;
  }

  &__sectionright {
    //background-color: red;
    padding: 0% 5% 5% 5%;
  }
}

//Laptop medium
@media (max-width: 1024px) {
  .homepage {
    grid-template-columns: 10% 60% 30%;

    &__icontitle {
      display: none;
    }

    #menu {
      padding-left: unset;
      align-items: center;
    }

    &__accuser{
      width: fit-content;
    }

    #leftusername, #morejoe {
      display: none;
    }

    &__tweetbtn {
      display: none;
    }

    #addtweet {
      display: block;
    }
  }
}


//Tab
@media (max-width: 768px) {
  .homepage {
    grid-template-columns: 10% 85% 5%;
    &__header2 {
      display: none;
    }

    &__sectionright {
      display: none;
    }
  }
}

//Mobile L
@media (max-width: 376px) {
  .homepage{
    #addtweet {
      transform: scale(0.6);
    }

  }
  
}