.profile {
  &__wrap {
    //background-color: red;
    box-shadow: 0px 0px 0px 0px rgb(252, 252, 252),
      1px 0px 0px 0px rgb(204, 201, 201);
  }

  &__header {
    background-color: rgba(254, 254, 254, 0.85);
    //position: fixed;
    top: 0;
    position: sticky;
    backdrop-filter: blur(8px);
    //width: 50%;
    z-index: 1;
    //row-gap: 60px;
    display: flex;
  }

  &__name {
    //background-color: yellow;
    line-height: 7px;
    padding-left: 25px;
  }

  // &__section {
  //   padding: 0% 5% 5% 5%;
  //   background-color: red;
  // }

  &__beranda {
    position: relative;
    //background-color: rgb(64, 255, 0);
    //height: 200px;
    //line-height: px;
    //border-bottom: 2px solid rgb(221, 218, 218);
    //border-width: 100%;
    //max-height: 650px;
    #backdrop {
      //margin-top: 75px;
      width: 100%;
      height: 200px;
      //height: 100%;
    }

    #user {
      //position: absolute;
      padding: 5px;
      border-radius: 150px;
      //position: relative;
      //top:35%;
      left: 3%;
      background-color: rgb(255, 255, 255);
      //margin-left: ;
      width: 134px;
      //margin-left: 5%;
      //padding-left: 7%;
      //height: 50%;
    }
  }

  &__desc {
    //background-color: red;
    // position: absolute;
    //top: 0px;
    margin-top: -5rem;
    //background-color: red;
    margin-left: 5%;
    margin-right: 5%;
    //   border-bottom: 2px solid rgb(221, 218, 218);
    //   border-width: 100%;
    //line-height: 5px;
  }

  &__line {
    border-bottom: 2px solid rgb(221, 218, 218);
    border-width: 100%;
    //margin-top: -55px;
  }

  &__item {
    //background-color: red;
    cursor: pointer;
    width: 25%;
    text-align: center;
    &:hover {
      background-color: rgb(226, 225, 225);
    }
  }

  &__tweets {
    padding: 3% 5% 0% 5%;
    border-bottom: 2px solid rgb(221, 218, 218);
  }

  &__text {
    padding-left: 5px;
    margin-top: -55px;
    margin-left: 53px;
    justify-content: space-between;
    display: flex;
  }

  &__more {
    border-radius: 35px;
    &:hover {
      cursor: pointer;
      fill: rgb(112, 177, 247);
      background-color: rgb(201, 223, 247);
    }
  }

  &__icon {
    display: flex;
    margin-left: 45px;
    column-gap: 12%;
    //color: rgba(23, 22, 22, 0.75);
  }

  &__iconlist {
    cursor: pointer;
    fill: rgba(23, 22, 22, 0.65);
    padding: 10px;
    height: 35px;
    width: 35px;
    border-radius: 35px;
    &:hover {
      background-color: rgb(219, 229, 247);
      fill: rgb(12, 77, 240);
    }
  }
  
  #iconlike {
    &:hover {
      background-color: rgba(254, 25, 224, 0.15);
      fill: rgb(248, 10, 212);
    }
  }

  //tab
  @media (max-width: 768px) {
   &__desc{
     //margin-top: -17rem;
     //background-color: red;
   }
  }

}


