@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

html,
body {
  margin: 0 auto;
  background-color: rgb(209, 206, 206);
}

* {
  font-family: "Poppins", sans-serif;
}

.wrap {
  max-width: 900px;
  margin: 3rem auto;
}


